/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/*For tablets:*/
@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/*Style basics for h1 tag*/
h1 {
    margin-left: 2px;
}

/*Style basics for body header.*/
header {
    background-color: #c0c5ce;
}

    header img {
        width:100px;
    }

    header h1 {
        display:inline-block;
        margin:0px;
        vertical-align:top;
        padding-top:25px;
        font-size:45px;
    }

/*Style basics for body.*/
body {
    background-color: #c0c5ce;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Style basics for footer.*/
footer {
    background-color: #c0c5ce;
    height: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
}

    /*Style for div within a footer.*/
    footer > div {
        float: left;
        width: 33.33%;
    }

/*A style to center text.*/
.center {
    text-align: center;
}

/*A style to right-align text within the webpage.*/
.right {
    text-align: right;
}

/*A style to float right.*/
.float-right {
    float: right;
}

/*A style to float left.*/
.float-left {
    float: left
}

/*Style the tab bar.*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #4f5b66;
    border-radius: 20px;
}

    /*Style the buttons that are used to open the tab content.*/
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        color: white;
    }

        /*Change background color of buttons on hover.*/
        .tab button:hover {
            background-color: #343d46;
        }

        /*Create an active/current tablink class.*/
        .tab button.active {
            background-color: #ccc;
        }

/*Style the tab content.*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*Style for the form document.*/
form {
    border-radius: 25px;
    padding: 10px;
}

/*Style for selecting a form input.*/
input:focus {
    border: 2px solid #555;
}

.inline {
    display:inline;
}

.inlineBlock {
    display: inline-block;
}

.round {
    border-radius:20px;
}

.border {
    border:1px solid black;
}

table th {
    border:2px solid white;
}

table td {
    border:2px solid white;
}
